<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86712929523-janej29q4bv9a279tb0o56erqsqueg6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86712929523-janej29q4bv9a279tb0o56erqsqueg6e</string>
	<key>API_KEY</key>
	<string>AIzaSyAIqUFX6M-6txjCviHtkkxQLhUZdJL7yjM</string>
	<key>GCM_SENDER_ID</key>
	<string>86712929523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kitaplik</string>
	<key>PROJECT_ID</key>
	<string>kitaplik-1f59d</string>
	<key>STORAGE_BUCKET</key>
	<string>kitaplik-1f59d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86712929523:ios:ce8e244ec569e5207bfb86</string>
</dict>
</plist>